<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allxone.mybatisprojectbackend.mapper.PayrollMapper">
    <resultMap id="payrollResultMap" type="com.allxone.mybatisprojectbackend.model.Payroll">
        <id property="id" column="id"/>
        <result property="employeeId" column="employee_id"/>
        <result property="salary" column="salary"/>
        <result property="bonus" column="bonus"/>
        <result property="deductions" column="deductions"/>
        <result property="netSalary" column="net_salary" />
        <result property="leavePaidDays" column="leave_paid_days"/>
        <result property="holidayIds" column="holiday_ids"
                jdbcType="OTHER"
                javaType="com.fasterxml.jackson.databind.JsonNode"
                typeHandler="com.allxone.mybatisprojectbackend.convert.handler.JsonTypeHandler"
        />
        <result property="periodStart" column="period_start" javaType="java.time.LocalDate"/>
        <result property="periodEnd" column="period_end" javaType="java.time.LocalDate"/>
        <result property="createdAt" column="created_at" javaType="java.time.Instant"/>
        <result property="updatedAt" column="updated_at" javaType="java.time.Instant"/>
    </resultMap>


    <insert id="savePayroll" parameterType="Payroll" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO payroll (id, employee_id, salary, bonus, deductions, net_salary, period_start, period_end, created_at, updated_at)
        VALUES (#{id}, #{employeeId}, #{salary}, #{bonus}, #{deductions}, #{netSalary}, #{periodStart}, #{periodEnd}, NOW(), NOW())
    </insert>

    <select id="getPayrollById" parameterType="Long" resultMap="payrollResultMap">
        SELECT * FROM payroll WHERE id = #{id}
    </select>

    <select id="getPayrollByEmployeeId" parameterType="Long" resultMap="payrollResultMap">
        SELECT * FROM payroll WHERE employee_id = #{id}
    </select>

    <select id="getAllPayrolls" resultMap="payrollResultMap">
        SELECT * FROM payroll
    </select>

    <update id="updatePayroll" parameterType="Payroll" useGeneratedKeys="true" keyProperty="id">
        UPDATE payroll
        <set>
            <if test="salary != null">
                salary = #{salary},
            </if>
            <if test="bonus != null">
                bonus = #{bonus},
            </if>
            <if test="bonus != null">
                deductions = #{deductions},
            </if>
            <if test="netSalary != null">
                net_salary = #{netSalary},
            </if>
            <if test="holidayIds != null">
                holiday_ids = #{holidayIds,
                jdbcType=OTHER,
                typeHandler=com.allxone.mybatisprojectbackend.convert.handler.JsonTypeHandler},
            </if>
            <if test="leavePaidDays != null">
                leave_paid_days = #{leavePaidDays},

            </if>
                updated_at = NOW()
        </set>
        WHERE id = #{id}
    </update>
</mapper>
