<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allxone.mybatisprojectbackend.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.allxone.mybatisprojectbackend.model.User" >
        <id property="id" column="id"/>
        <result column="firstname" property="firstname" />
        <result column="lastname" property="lastname" />
        <result column="email" property="email" />
        <result column="role" property="role" />
    </resultMap>

    <resultMap id="userResultMapWithTokens" type="com.allxone.mybatisprojectbackend.model.User" >
        <id property="id" column="id"/>
        <result column="firstname" property="firstname" />
        <result column="lastname" property="lastname" />
        <result column="email" property="email" />
        <result column="role" property="role" />
    </resultMap>

    <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (FIRSTNAME, LASTNAME, EMAIL, PASSWORD, ROLE)
        VALUES (#{firstname}, #{lastname}, #{email}, #{password}, #{role})
    </insert>

    <select id="getUserById" resultMap="userResultMap" >
        SELECT usr.ID
             , usr.FIRSTNAME
             , usr.LASTNAME
             , usr.EMAIL
             , usr.ROLE
        FROM user usr
        WHERE usr.ID = #{id}
    </select>

    <select id="findByEmail" resultMap="userResultMap" >
        SELECT usr.ID
             , usr.FIRSTNAME
             , usr.LASTNAME
             , usr.EMAIL
             , usr.ROLE
        FROM user usr
        WHERE usr.EMAIL = #{email}
    </select>

    <update id="updateUser" parameterType="Coin" useGeneratedKeys="true" keyProperty="id">
        UPDATE user
        SET FIRSTNAME           = #{firstname},
            LASTNAME         = #{lastname},
            EMAIL = #{email},
            ROLE       = #{role}
        WHERE ID = #{id}
    </update>

</mapper>
