<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>

<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <h2>Forgot Password</h2>-->
<!--</div>-->
<!--<div th:if="${error != null}">-->
<!--    <p class="text-danger">[[${error}]]</p>-->
<!--</div>-->
<!--<div th:if="${message != null}">-->
<!--    <p class="text-warning">[[${message}]]</p>-->
<!--</div>-->

<!--<form th:action="@{/forgot_password}" method="post" style="max-width: 420px; margin: 0 auto;">-->
<!--    <div class="border border-secondary rounded p-3">-->
<!--        <div>-->
<!--            <p>We will be sending a reset password link to your email.</p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <p>-->
<!--                <input type="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>-->
<!--            </p>-->
<!--            <p class="text-center">-->
<!--                <input type="submit" value="Send" class="btn btn-primary" />-->

<!--            </p>-->
<!--            <div id="alert-forgot-password">Email not found</div>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>

<div class="form-gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="padding-top: 70px;">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Forgot Password?</h2>
                        <p>You can reset your password here.</p>

                        <div class="panel-body">

                            <form id="forgot" action="" method="post" style="max-width: 420px; margin: 0 auto;" >

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your e-mail" required autofocus/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>



<script>
    $(document).ready(function (){
        $("#forgot").on("submit", function (e) {
            e.preventDefault();
            forgotFunction();
        });

        function forgotFunction() {
            "use strict";
            const vLoginData = {
                email: $("#email").val()
            };
            $.ajax({
                url: gBASE_URL + "/auth/forgot_password",
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                data: JSON.stringify(vLoginData),
                success: function (res) {
                    alert("Check email")
                    console.log(err.responseText);
                },
                error: function (err) {
                    alert("Login failed!");
                    console.log(err.responseText);
                }
            });
        }

    });

</script>