BASE_URL=VanBao
BASE_PORT=8080

#SQL
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/coinmarket
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=123456
SPRING_DATASOURCE_DRIVER=com.mysql.cj.jdbc.Driver

# Social Network Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=

# Mail Config
MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=